@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #27374D;
  --color-secondary: #526D82;
  --color-accent: #9DB2BF;
  --color-bg: #DDE6ED;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #DDE6ED;
  color: #27374D;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}