@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #473472;
  --color-secondary: #53629E;
  --color-accent: #87BAC3;
  --color-bg: #D6F4ED;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: var(--color-accent); /* #87BAC3 */
  color: var(--color-primary);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}